.heading{
    width: 100%;
    text-align: left;
}
.heading h3{
    display: inline;
}
.heading button{
    float: right;
    border: 1px solid white;
}
#start, #status{
    font-size: 22px;
}
#canvas{
    border:5px solid whitesmoke;
    border-radius:20px;
    width: 500px;
    height: 500px;
}